service/configuration/src/main/resources/META-INF/services/property-placeholder.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:beans="http://www.springframework.org/schema/beans"
            xmlns:springext="http://www.alibaba.com/schema/springext/base">

    <xsd:import namespace="http://www.springframework.org/schema/beans"
                schemaLocation="http://localhost:8080/schema/www.springframework.org/schema/beans/spring-beans.xsd" />

    <xsd:import namespace="http://www.alibaba.com/schema/springext/base"
                schemaLocation="http://localhost:8080/schema/www.alibaba.com/schema/springext/springext-base.xsd" />

    <xsd:element name="property-placeholder" type="PropertyPlaceholderType" />

    <xsd:complexType name="PropertyPlaceholderType">
        <xsd:sequence>
            <xsd:element name="property" minOccurs="0" maxOccurs="unbounded">
                <xsd:complexType>
                    <xsd:simpleContent>
                        <xsd:extension base="xsd:string">
                            <xsd:attribute name="key" type="xsd:string" use="required" />
                        </xsd:extension>
                    </xsd:simpleContent>
                </xsd:complexType>
            </xsd:element>
        </xsd:sequence>
        <xsd:attribute name="location" type="xsd:string" />
        <xsd:attribute name="properties-ref" type="xsd:string" />
        <xsd:attribute name="ignoreUnresolvablePlaceholders" type="springext:booleanOrPlaceholder"
                       default="true" />
    </xsd:complexType>

</xsd:schema>
