service/mail/src/main/resources/META-INF/services/mails/contents/html-template-content.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:beans="http://www.springframework.org/schema/beans"
            xmlns:springext="http://www.alibaba.com/schema/springext/base">

    <xsd:import namespace="http://www.springframework.org/schema/beans"
                schemaLocation="http://localhost:8080/schema/www.springframework.org/schema/beans/spring-beans.xsd" />

    <xsd:import namespace="http://www.alibaba.com/schema/springext/base"
                schemaLocation="http://localhost:8080/schema/www.alibaba.com/schema/springext/springext-base.xsd" />

    <xsd:element name="html-template-content" type="HtmlTemplateContentType">
        <xsd:annotation>
            <xsd:documentation><![CDATA[
    一个基于模板的HTML内容。
            ]]></xsd:documentation>
        </xsd:annotation>
    </xsd:element>

    <xsd:complexType name="HtmlTemplateContentType">
        <xsd:complexContent>
            <xsd:extension base="beans:identifiedType">
                <xsd:sequence>
                    <xsd:element name="inline-resource" minOccurs="0" maxOccurs="unbounded">
                        <xsd:annotation>
                            <xsd:documentation><![CDATA[
    定义一个HTML内嵌资源。系统将从ResourceLoader中装载资源。
                            ]]></xsd:documentation>
                        </xsd:annotation>
                        <xsd:complexType>
                            <xsd:attribute name="id" type="xsd:NMTOKEN" use="required" />
                            <xsd:attribute name="prefix" type="xsd:string" use="required" />
                        </xsd:complexType>
                    </xsd:element>
                </xsd:sequence>
                <xsd:attribute name="template" type="xsd:string" />
                <xsd:attribute name="contentType" type="xsd:string" />
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

</xsd:schema>
