webx/async/src/main/resources/META-INF/services/pipeline/valves/invokeCallable.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            elementFormDefault="qualified">

    <xsd:import namespace="http://www.springframework.org/schema/beans"
                schemaLocation="http://localhost:8080/schema/www.springframework.org/schema/beans/spring-beans.xsd" />

    <xsd:import namespace="http://www.alibaba.com/schema/springext/base"
                schemaLocation="http://localhost:8080/schema/www.alibaba.com/schema/springext/springext-base.xsd" />

    <xsd:element name="invokeCallable" type="InvokeCallableValveType">
        <xsd:annotation>
            <xsd:documentation><![CDATA[
    调用pipeline result中的callable对象，并将其结果作为新的result，并保存在pipeline中。
            ]]></xsd:documentation>
        </xsd:annotation>
    </xsd:element>

    <xsd:complexType name="InvokeCallableValveType">
        <xsd:attribute name="resultName" type="xsd:string" default="screenResult" />
    </xsd:complexType>

</xsd:schema>
