webx/turbine/src/main/resources/META-INF/services/uris/turbine-content-uri.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:beans="http://www.springframework.org/schema/beans"
            xmlns:springext="http://www.alibaba.com/schema/springext/base">

    <xsd:import namespace="http://www.springframework.org/schema/beans"
                schemaLocation="http://localhost:8080/schema/www.springframework.org/schema/beans/spring-beans.xsd" />

    <xsd:import namespace="http://www.alibaba.com/schema/springext/base"
                schemaLocation="http://localhost:8080/schema/www.alibaba.com/schema/springext/springext-base.xsd" />

    <xsd:include
            schemaLocation="http://localhost:8080/schema/www.alibaba.com/schema/services/uris/uris-base.xsd" />

    <xsd:element name="turbine-content-uri" type="TurbineContentURIBrokerType">
        <xsd:annotation>
            <xsd:documentation><![CDATA[
    创建一个Turbine风格的content URI。

    一个Turbine风格的content URI包括如下几个部分：

 URI         = SERVER_INFO + PATH + "?" + QUERY_DATA + "#" + REFERENCE
 SERVER_INFO = scheme://loginUser:loginPassword@serverName:serverPort
 PATH        = /contextPath/servletPath/PATH_INFO
 PATH_INFO   = /componentPath/prefixPath/contentPath
 QUERY_DATA  = queryKey1=value1&queryKey2=value2
 REFERENCE   = reference

    例如：

 http://user:pass@myserver.com:8080/mycontext/myservlet/mycomponent/myContent.jpg
             ]]></xsd:documentation>
        </xsd:annotation>
    </xsd:element>

    <xsd:complexType name="TurbineContentURIBrokerType">
        <xsd:sequence>
            <xsd:group ref="URIBrokerServerInfo" />
            <xsd:element name="contextPath" type="xsd:string" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation><![CDATA[
    Web应用程序context路径。
                    ]]></xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="servletPath" type="xsd:string" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation><![CDATA[
    Servlet路径。
                    ]]></xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="componentPath" type="xsd:string" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation><![CDATA[
    Component路径。
                    ]]></xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="prefixPath" type="xsd:string" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation><![CDATA[
    Content前缀路径。
                    ]]></xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="contentPath" type="xsd:string" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation><![CDATA[
    Content路径。
                    ]]></xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:group ref="URIBrokerQueryInfo" />
        </xsd:sequence>
        <xsd:attributeGroup ref="URIBrokerAttributes" />
    </xsd:complexType>

</xsd:schema>
