service/requestcontext/src/main/resources/META-INF/services/request-contexts/basic/interceptors/response-header-security-filter.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:beans="http://www.springframework.org/schema/beans"
            xmlns:springext="http://www.alibaba.com/schema/springext/base">

    <xsd:import namespace="http://www.springframework.org/schema/beans"
                schemaLocation="http://localhost:8080/schema/www.springframework.org/schema/beans/spring-beans.xsd" />

    <xsd:import namespace="http://www.alibaba.com/schema/springext/base"
                schemaLocation="http://localhost:8080/schema/www.alibaba.com/schema/springext/springext-base.xsd" />

    <xsd:element name="response-header-security-filter" type="ResponseHeaderSecurityFilterType">
        <xsd:annotation>
            <xsd:documentation><![CDATA[
    过滤header中的crlf，限制cookie的大小。
            ]]></xsd:documentation>
        </xsd:annotation>
    </xsd:element>

    <xsd:complexType name="ResponseHeaderSecurityFilterType">
        <xsd:attribute name="logName" type="xsd:string" />
        <xsd:attribute name="maxSetCookieSize" type="springext:humanReadableBytesOrPlaceholder" />
    </xsd:complexType>

</xsd:schema>
