service/requestcontext/src/main/resources/META-INF/services/request-contexts/parser/filters/uploaded-file-whitelist.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:beans="http://www.springframework.org/schema/beans">

    <xsd:import namespace="http://www.springframework.org/schema/beans"
                schemaLocation="http://localhost:8080/schema/www.springframework.org/schema/beans/spring-beans.xsd" />

    <xsd:element name="uploaded-file-whitelist" type="UploadedFileWhitelistFilterType">
        <xsd:annotation>
            <xsd:documentation><![CDATA[
    过滤上传文件名。
            ]]></xsd:documentation>
        </xsd:annotation>
    </xsd:element>

    <xsd:complexType name="UploadedFileWhitelistFilterType">
        <xsd:attribute name="logName" type="xsd:string" />
        <xsd:attribute name="extensions" type="xsd:string" use="required" />
    </xsd:complexType>

</xsd:schema>
