service/form/src/main/resources/META-INF/services/form/validators/all-of-values.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:beans="http://www.springframework.org/schema/beans"
            xmlns:base="http://www.alibaba.com/schema/services/form/validators/base">

    <xsd:import namespace="http://www.springframework.org/schema/beans"
                schemaLocation="http://localhost:8080/schema/www.springframework.org/schema/beans/spring-beans.xsd" />

    <xsd:element name="all-of-values" type="AllOfValuesValidatorType">
        <xsd:annotation>
            <xsd:documentation><![CDATA[
    只有当前field的所有值都通过验证时，此validator才通过验证。
    Message可使用 ${allMessages} 取得子validator的message。
    子validator的message可使用 ${valueIndex} 取得当前索引值。
            ]]></xsd:documentation>
        </xsd:annotation>
    </xsd:element>

    <xsd:complexType name="AllOfValuesValidatorType">
        <xsd:sequence>
            <xsd:element name="message" type="xsd:string" minOccurs="0" />
            <xsd:any namespace="http://www.alibaba.com/schema/services/form/validators"
                     minOccurs="1" maxOccurs="unbounded" />
        </xsd:sequence>
        <xsd:attribute name="id" type="xsd:string" />
        <xsd:attribute name="message" type="xsd:string" />
    </xsd:complexType>

</xsd:schema>
