service/form/src/main/resources/META-INF/services/form/validators/any-of.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:beans="http://www.springframework.org/schema/beans"
            xmlns:base="http://www.alibaba.com/schema/services/form/validators/base">

    <xsd:import namespace="http://www.springframework.org/schema/beans"
                schemaLocation="http://localhost:8080/schema/www.springframework.org/schema/beans/spring-beans.xsd" />

    <xsd:element name="any-of" type="AnyOfValidatorType">
        <xsd:annotation>
            <xsd:documentation><![CDATA[
    当下属的任何一个validator未通过验证时，此validator就通过验证。
    当验证不通过时，message配置中指定的message，但可使用变量 ${allMessages} 引用所有其下属的message列表。
            ]]></xsd:documentation>
        </xsd:annotation>
    </xsd:element>

    <xsd:complexType name="AnyOfValidatorType">
        <xsd:sequence>
            <xsd:element name="message" type="xsd:string" minOccurs="0" />
            <xsd:any namespace="http://www.alibaba.com/schema/services/form/validators"
                     minOccurs="1" maxOccurs="unbounded" />
        </xsd:sequence>
        <xsd:attribute name="id" type="xsd:string" />
        <xsd:attribute name="message" type="xsd:string" />
    </xsd:complexType>

</xsd:schema>
