service/form/src/main/resources/META-INF/services/form/validators/string-compare-validator.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:beans="http://www.springframework.org/schema/beans"
            xmlns:springext="http://www.alibaba.com/schema/springext/base"
            xmlns:base="http://www.alibaba.com/schema/services/form/validators/base">

    <xsd:import namespace="http://www.springframework.org/schema/beans"
                schemaLocation="http://localhost:8080/schema/www.springframework.org/schema/beans/spring-beans.xsd" />

    <xsd:import namespace="http://www.alibaba.com/schema/springext/base"
                schemaLocation="http://localhost:8080/schema/www.alibaba.com/schema/springext/springext-base.xsd" />

    <xsd:element name="string-compare-validator" type="StringCompareValidatorType">
        <xsd:annotation>
            <xsd:documentation><![CDATA[
    和另一个field比较字符串值的validator。
            ]]></xsd:documentation>
        </xsd:annotation>
    </xsd:element>

    <xsd:complexType name="StringCompareValidatorType">
        <xsd:sequence>
            <xsd:element name="message" type="xsd:string" minOccurs="0" />
        </xsd:sequence>
        <xsd:attribute name="id" type="xsd:string" />
        <xsd:attribute name="message" type="xsd:string" />
        <xsd:attribute name="ignoreCase" type="springext:booleanOrPlaceholder" />
        <xsd:attribute name="equalTo" type="xsd:string" />
        <xsd:attribute name="notEqualTo" type="xsd:string" />
    </xsd:complexType>

</xsd:schema>
