service/form/src/main/resources/META-INF/services/form/validators/uploaded-file-validator.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:beans="http://www.springframework.org/schema/beans"
            xmlns:base="http://www.alibaba.com/schema/services/form/validators/base">

    <xsd:import namespace="http://www.springframework.org/schema/beans"
                schemaLocation="http://localhost:8080/schema/www.springframework.org/schema/beans/spring-beans.xsd" />

    <xsd:element name="uploaded-file-validator" type="UploadedFileValidatorType">
        <xsd:annotation>
            <xsd:documentation><![CDATA[
    对上传的文件进行检查。
            ]]></xsd:documentation>
        </xsd:annotation>
    </xsd:element>

    <xsd:complexType name="UploadedFileValidatorType">
        <xsd:sequence>
            <xsd:element name="message" type="xsd:string" minOccurs="0" />
        </xsd:sequence>
        <xsd:attribute name="id" type="xsd:string" />
        <xsd:attribute name="message" type="xsd:string" />
        <xsd:attribute name="minSize" type="xsd:string" />
        <xsd:attribute name="maxSize" type="xsd:string" />
        <xsd:attribute name="contentType" type="xsd:string" />
        <xsd:attribute name="extension" type="xsd:string" />
    </xsd:complexType>

</xsd:schema>
