service/pull/src/main/resources/META-INF/services/pull/factories/bean-tool.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:beans="http://www.springframework.org/schema/beans"
            xmlns:springext="http://www.alibaba.com/schema/springext/base">

    <xsd:import namespace="http://www.springframework.org/schema/beans"
                schemaLocation="http://localhost:8080/schema/www.springframework.org/schema/beans/spring-beans.xsd" />

    <xsd:import namespace="http://www.alibaba.com/schema/springext/base"
                schemaLocation="http://localhost:8080/schema/www.alibaba.com/schema/springext/springext-base.xsd" />

    <xsd:element name="bean-tool" type="BeanToolType">
        <xsd:annotation>
            <xsd:documentation><![CDATA[
    创建一个简单的bean作为pull tool。
            ]]></xsd:documentation>
        </xsd:annotation>
    </xsd:element>

    <xsd:complexType name="BeanToolType">
        <xsd:complexContent>
            <xsd:extension base="beans:identifiedType">
                <xsd:attribute name="class" type="xsd:string" use="required" />
                <xsd:attribute name="scope" use="required">
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                            <xsd:enumeration value="global" />
                            <xsd:enumeration value="request" />
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:attribute>
                <xsd:attribute name="autowire" type="springext:booleanOrPlaceholder" default="false"
                        />
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

</xsd:schema>
