service/pull/src/main/resources/META-INF/services/pull/factories/mixin.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:beans="http://www.springframework.org/schema/beans"
            xmlns:springext="http://www.alibaba.com/schema/springext/base">

    <xsd:import namespace="http://www.springframework.org/schema/beans"
                schemaLocation="http://localhost:8080/schema/www.springframework.org/schema/beans/spring-beans.xsd" />

    <xsd:import namespace="http://www.alibaba.com/schema/springext/base"
                schemaLocation="http://localhost:8080/schema/www.alibaba.com/schema/springext/springext-base.xsd" />

    <xsd:element name="mixin" type="MixinType">
        <xsd:annotation>
            <xsd:documentation><![CDATA[
    将静态util类的方法组合在一起。
            ]]></xsd:documentation>
        </xsd:annotation>
    </xsd:element>

    <xsd:complexType name="MixinType">
        <xsd:complexContent>
            <xsd:extension base="beans:identifiedType">
                <xsd:sequence>
                    <xsd:element name="class" type="MixinClassType" minOccurs="0"
                                 maxOccurs="unbounded" />
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:complexType name="MixinClassType">
        <xsd:sequence>
            <xsd:element name="method" type="MixinMethodType" minOccurs="0" maxOccurs="unbounded" />
        </xsd:sequence>
        <xsd:attribute name="name" type="xsd:string" use="required" />
    </xsd:complexType>

    <xsd:complexType name="MixinMethodType">
        <xsd:attribute name="name" type="xsd:string" use="required" />
        <xsd:attribute name="renameTo" type="xsd:string" />
    </xsd:complexType>

</xsd:schema>
