service/requestcontext/src/main/resources/META-INF/services/request-contexts/session/stores/cookie-store.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:beans="http://www.springframework.org/schema/beans"
            xmlns:springext="http://www.alibaba.com/schema/springext/base">

    <xsd:import namespace="http://www.springframework.org/schema/beans"
                schemaLocation="http://localhost:8080/schema/www.springframework.org/schema/beans/spring-beans.xsd" />

    <xsd:import namespace="http://www.alibaba.com/schema/springext/base"
                schemaLocation="http://localhost:8080/schema/www.alibaba.com/schema/springext/springext-base.xsd" />

    <xsd:element name="cookie-store" type="CookieStoreType">
        <xsd:annotation>
            <xsd:documentation><![CDATA[
    将session内容保存在cookie中。
            ]]></xsd:documentation>
        </xsd:annotation>
    </xsd:element>

    <xsd:complexType name="CookieStoreType">
        <xsd:complexContent>
            <xsd:extension base="beans:identifiedType">
                <xsd:all>
                    <xsd:element name="cookie" minOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation><![CDATA[
    指定cookie的属性。
                            ]]></xsd:documentation>
                        </xsd:annotation>
                        <xsd:complexType>
                            <xsd:attribute name="name" type="xsd:string" use="required">
                                <xsd:annotation>
                                    <xsd:documentation><![CDATA[
    用来保存数据的cookie的名称。
                                    ]]></xsd:documentation>
                                </xsd:annotation>
                            </xsd:attribute>
                            <xsd:attribute name="domain" type="xsd:string">
                                <xsd:annotation>
                                    <xsd:documentation><![CDATA[
    用来保存数据的cookie的domain。默认和session ID cookie的domain相同。
                                    ]]></xsd:documentation>
                                </xsd:annotation>
                            </xsd:attribute>
                            <xsd:attribute name="path" type="xsd:string">
                                <xsd:annotation>
                                    <xsd:documentation><![CDATA[
    用来保存数据的cookie的path。默认和session ID cookie的path相同。
                                    ]]></xsd:documentation>
                                </xsd:annotation>
                            </xsd:attribute>
                            <xsd:attribute name="maxAge" type="springext:integerOrPlaceholder">
                                <xsd:annotation>
                                    <xsd:documentation><![CDATA[
    用来保存数据的cookie的最长存活时间（秒）。默认和session ID cookie的最长存活时间相同。
                                    ]]></xsd:documentation>
                                </xsd:annotation>
                            </xsd:attribute>
                            <xsd:attribute name="httpOnly" type="springext:booleanOrPlaceholder">
                                <xsd:annotation>
                                    <xsd:documentation><![CDATA[
    用来保存数据的cookie上设置httpOnly标记。在IE6及更新版本中，可以缓解XSS攻击的危险。默认和session ID cookie的设置相同。
                                    ]]></xsd:documentation>
                                </xsd:annotation>
                            </xsd:attribute>
                            <xsd:attribute name="secure" type="springext:booleanOrPlaceholder">
                                <xsd:annotation>
                                    <xsd:documentation><![CDATA[
    用来保存数据的cookie上设置secure标记。这样，只有在https请求中才可访问该cookie。默认和session ID cookie的设置相同。
                            ]]></xsd:documentation>
                                </xsd:annotation>
                            </xsd:attribute>
                            <xsd:attribute name="survivesInInvalidating"
                                           type="springext:booleanOrPlaceholder" default="false">
                                <xsd:annotation>
                                    <xsd:documentation><![CDATA[
    用来指出数据是否能够在session失效时，继续存在。这不是很常用的选项，但少量数据需要它。例如，记录上一次登录的用户名。
    需要注意的是，即使该参数被设成true，数据存活的时间也不会超过maxAge所指定的时间。
                                    ]]></xsd:documentation>
                                </xsd:annotation>
                            </xsd:attribute>
                        </xsd:complexType>
                    </xsd:element>
                    <xsd:element name="encoders" type="SessionEncodersType" minOccurs="0">
                        <xsd:annotation>
                            <xsd:documentation><![CDATA[
    用来将cookie转换成对象，或者对象转换成cookie的编码器。
    可以指定多个，以便解析不同版本的cookie格式。其中第一个编码器是默认的，将用来编码输出值。
                            ]]></xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:all>
                <xsd:attribute name="maxLength" type="springext:integerOrPlaceholder" default="3896">
                    <xsd:annotation>
                        <xsd:documentation><![CDATA[
    每个cookie的最大长度（字节数）。需要注意的是，过长的cookie是不被浏览器接受的。
    一般不要超过4K。默认值为3896，约3.8K。
                        ]]></xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
                <xsd:attribute name="maxCount" type="springext:integerOrPlaceholder" default="5">
                    <xsd:annotation>
                        <xsd:documentation><![CDATA[
    Cookie store会把数据压缩后分段保存在一组cookie中。此参数指定了当前store能使用的最大cookie数。
    需要注意的是，对每个域名和路径而言，累计cookie数不能超过20条，否则会被浏览器拒绝。此参数默认值为5条。
                        ]]></xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
                <xsd:attribute name="checksum" type="springext:booleanOrPlaceholder" default="false">
                    <xsd:annotation>
                        <xsd:documentation><![CDATA[
    是否创建检验cookie。默认为false。
    鉴于cookie可能发生的错误，增加一个特殊的检验cookie，有助于检验cookie store所存数据的正确性。
    检验cookie的名称为当前store cookie name加上“sum”。
                        ]]></xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:complexType name="SessionEncodersType">
        <xsd:choice minOccurs="0" maxOccurs="unbounded">
            <xsd:any
                    namespace="http://www.alibaba.com/schema/services/request-contexts/session/encoders"
                    />
        </xsd:choice>
    </xsd:complexType>

</xsd:schema>
