service/template/src/main/resources/META-INF/services/template.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:beans="http://www.springframework.org/schema/beans"
            xmlns:springext="http://www.alibaba.com/schema/springext/base">

    <xsd:import namespace="http://www.springframework.org/schema/beans"
                schemaLocation="http://localhost:8080/schema/www.springframework.org/schema/beans/spring-beans.xsd" />

    <xsd:import namespace="http://www.alibaba.com/schema/springext/base"
                schemaLocation="http://localhost:8080/schema/www.alibaba.com/schema/springext/springext-base.xsd" />

    <xsd:element name="template" type="TemplateServiceType">
        <xsd:annotation>
            <xsd:documentation><![CDATA[
    提供一个模板的服务，可将模板和context内容结合并生成文本。
            ]]></xsd:documentation>
        </xsd:annotation>
    </xsd:element>

    <xsd:complexType name="TemplateServiceType">
        <xsd:choice minOccurs="0" maxOccurs="unbounded">
            <xsd:element name="template-mapping" type="TemplateServiceEngineMappingType"
                         minOccurs="0" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation><![CDATA[
    将模板引擎和模板名后缀关联起来。
                    ]]></xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:any namespace="http://www.alibaba.com/schema/services/template/engines" />
        </xsd:choice>
        <xsd:attribute name="defaultExtension" type="xsd:string" />
        <xsd:attribute name="searchExtensions" type="springext:booleanOrPlaceholder" />
        <xsd:attribute name="searchLocalizedTemplates" type="springext:booleanOrPlaceholder" />
        <xsd:attribute name="cacheEnabled" type="springext:booleanOrPlaceholder" />
        <xsd:attributeGroup ref="springext:identifiedTypeAttributeSubset" />
    </xsd:complexType>

    <xsd:complexType name="TemplateServiceEngineMappingType">
        <xsd:attribute name="extension" type="xsd:string" use="required" />
        <xsd:attribute name="engine" type="xsd:string" use="required" />
    </xsd:complexType>

</xsd:schema>
