service/requestcontext/src/main/resources/META-INF/services/request-contexts/session/encrypters/aes-encrypter.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:beans="http://www.springframework.org/schema/beans">

    <xsd:import namespace="http://www.springframework.org/schema/beans"
                schemaLocation="http://localhost:8080/schema/www.springframework.org/schema/beans/spring-beans.xsd" />

    <xsd:element name="aes-encrypter" type="AesEncrypterType">
        <xsd:annotation>
            <xsd:documentation><![CDATA[
    用AES加密。
            ]]></xsd:documentation>
        </xsd:annotation>
    </xsd:element>

    <xsd:complexType name="AesEncrypterType">
        <xsd:complexContent>
            <xsd:extension base="beans:identifiedType">
                <xsd:attribute name="key" type="xsd:string" use="required" />
                <xsd:attribute name="keySize" default="128">
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:integer">
                            <xsd:enumeration value="128" />
                            <xsd:enumeration value="192" />
                            <xsd:enumeration value="256" />
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:attribute>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

</xsd:schema>
