service/uribroker/src/main/resources/META-INF/services/uris/uri-bean.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:beans="http://www.springframework.org/schema/beans"
            xmlns:springext="http://www.alibaba.com/schema/springext/base">

    <xsd:import namespace="http://www.springframework.org/schema/beans"
                schemaLocation="http://localhost:8080/schema/www.springframework.org/schema/beans/spring-beans.xsd" />

    <xsd:import namespace="http://www.alibaba.com/schema/springext/base"
                schemaLocation="http://localhost:8080/schema/www.alibaba.com/schema/springext/springext-base.xsd" />

    <xsd:element name="uri-bean" type="URIBrokerBeanType">
        <xsd:annotation>
            <xsd:documentation><![CDATA[
    创建一个URIBroker对象。
            ]]></xsd:documentation>
        </xsd:annotation>
    </xsd:element>

    <xsd:complexType name="URIBrokerBeanType">
        <xsd:complexContent>
            <xsd:extension base="springext:referenceableBeanType">
                <xsd:attribute name="exposed" type="springext:booleanOrPlaceholder" default="false" />
                <xsd:attribute name="extends" type="xsd:string" />
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

</xsd:schema>
