test/webx/src/main/resources/META-INF/services/servlet-test-container.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:beans="http://www.springframework.org/schema/beans"
            xmlns:springext="http://www.alibaba.com/schema/springext/base">

    <xsd:import namespace="http://www.springframework.org/schema/beans"
                schemaLocation="http://localhost:8080/schema/www.springframework.org/schema/beans/spring-beans.xsd" />

    <xsd:import namespace="http://www.alibaba.com/schema/springext/base"
                schemaLocation="http://localhost:8080/schema/www.alibaba.com/schema/springext/springext-base.xsd" />

    <xsd:element name="servlet-test-container" type="ServletTestContainerType">
        <xsd:annotation>
            <xsd:documentation><![CDATA[
    创建用于测试的servlet容器，支持request contexts机制。
            ]]></xsd:documentation>
        </xsd:annotation>
    </xsd:element>

    <xsd:complexType name="ServletTestContainerType">
        <xsd:complexContent>
            <xsd:extension base="beans:identifiedType">
                <xsd:sequence>
                    <xsd:element name="mapping" type="ServletTestContainerMappingType"
                                 minOccurs="0" maxOccurs="unbounded" />
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:complexType name="ServletTestContainerMappingType">
        <xsd:attribute name="pattern" type="xsd:string" use="required" />
        <xsd:attribute name="servletClass" type="xsd:string" />
    </xsd:complexType>

</xsd:schema>
