service/pipeline/src/main/resources/META-INF/services/pipeline/valves/break-if.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:beans="http://www.springframework.org/schema/beans"
            xmlns:springext="http://www.alibaba.com/schema/springext/base">

    <xsd:import namespace="http://www.springframework.org/schema/beans"
                schemaLocation="http://localhost:8080/schema/www.springframework.org/schema/beans/spring-beans.xsd" />

    <xsd:import namespace="http://www.alibaba.com/schema/springext/base"
                schemaLocation="http://localhost:8080/schema/www.alibaba.com/schema/springext/springext-base.xsd" />

    <xsd:element name="break-if" type="BreakIfValveType">
        <xsd:annotation>
            <xsd:documentation><![CDATA[
    当条件满足时，中断pipeline的执行。
            ]]></xsd:documentation>
        </xsd:annotation>
    </xsd:element>

    <xsd:complexType name="BreakIfValveType">
        <xsd:sequence>
            <xsd:any namespace="http://www.alibaba.com/schema/services/pipeline/conditions"
                     minOccurs="0" />
        </xsd:sequence>
        <xsd:attribute name="test" type="xsd:string" />
        <xsd:attribute name="levels" type="xsd:integer" />
        <xsd:attribute name="toLabel" type="xsd:string" />
    </xsd:complexType>

</xsd:schema>
