service/pipeline/src/main/resources/META-INF/services/pipeline/valves/choose.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:beans="http://www.springframework.org/schema/beans"
            xmlns:springext="http://www.alibaba.com/schema/springext/base">

    <xsd:import namespace="http://www.springframework.org/schema/beans"
                schemaLocation="http://localhost:8080/schema/www.springframework.org/schema/beans/spring-beans.xsd" />

    <xsd:import namespace="http://www.alibaba.com/schema/springext/base"
                schemaLocation="http://localhost:8080/schema/www.alibaba.com/schema/springext/springext-base.xsd" />

    <xsd:element name="choose" type="ChooseValveType">
        <xsd:annotation>
            <xsd:documentation><![CDATA[
    多重选择条件。当when条件满足时，执行其中的valves。如果所有的when均不满足，则执行otherwise（如果有的话）。
            ]]></xsd:documentation>
        </xsd:annotation>
    </xsd:element>

    <xsd:complexType name="ChooseValveType">
        <xsd:sequence>
            <xsd:element name="when" type="ChooseValveWhenType" minOccurs="0" maxOccurs="unbounded" />
            <xsd:element name="otherwise" type="ChooseValveOtherwiseType" minOccurs="0" />
        </xsd:sequence>
        <xsd:attribute name="label" type="xsd:string" />
    </xsd:complexType>

    <xsd:complexType name="ChooseValveWhenType">
        <xsd:sequence>
            <xsd:any namespace="http://www.alibaba.com/schema/services/pipeline/conditions"
                     minOccurs="0" />
            <xsd:any namespace="http://www.alibaba.com/schema/services/pipeline/valves"
                     minOccurs="0" maxOccurs="unbounded" />
        </xsd:sequence>
        <xsd:attribute name="test" type="xsd:string" />
        <xsd:attribute name="pipeline-ref" type="xsd:string" />
    </xsd:complexType>

    <xsd:complexType name="ChooseValveOtherwiseType">
        <xsd:sequence>
            <xsd:any namespace="http://www.alibaba.com/schema/services/pipeline/valves"
                     minOccurs="0" maxOccurs="unbounded" />
        </xsd:sequence>
        <xsd:attribute name="pipeline-ref" type="xsd:string" />
    </xsd:complexType>

</xsd:schema>
