service/pipeline/src/main/resources/META-INF/services/pipeline/valves/loop.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:beans="http://www.springframework.org/schema/beans"
            xmlns:springext="http://www.alibaba.com/schema/springext/base">

    <xsd:import namespace="http://www.springframework.org/schema/beans"
                schemaLocation="http://localhost:8080/schema/www.springframework.org/schema/beans/spring-beans.xsd" />

    <xsd:import namespace="http://www.alibaba.com/schema/springext/base"
                schemaLocation="http://localhost:8080/schema/www.alibaba.com/schema/springext/springext-base.xsd" />

    <xsd:element name="loop" type="LoopValveType">
        <xsd:annotation>
            <xsd:documentation><![CDATA[
    定义一个循环的valve。
            ]]></xsd:documentation>
        </xsd:annotation>
    </xsd:element>

    <xsd:complexType name="LoopValveType">
        <xsd:sequence>
            <xsd:any namespace="http://www.alibaba.com/schema/services/pipeline/valves"
                     minOccurs="0" maxOccurs="unbounded" />
        </xsd:sequence>
        <xsd:attribute name="maxLoopCount" type="springext:integerOrPlaceholder" />
        <xsd:attribute name="label" type="xsd:string" />
        <xsd:attribute name="loopCounterName" type="xsd:string" />
        <xsd:attribute name="pipeline-ref" type="xsd:string" />
    </xsd:complexType>

</xsd:schema>
