service/pipeline/src/main/resources/META-INF/services/pipeline/valves/try-catch-finally.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:beans="http://www.springframework.org/schema/beans"
            xmlns:springext="http://www.alibaba.com/schema/springext/base">

    <xsd:import namespace="http://www.springframework.org/schema/beans"
                schemaLocation="http://localhost:8080/schema/www.springframework.org/schema/beans/spring-beans.xsd" />

    <xsd:import namespace="http://www.alibaba.com/schema/springext/base"
                schemaLocation="http://localhost:8080/schema/www.alibaba.com/schema/springext/springext-base.xsd" />

    <xsd:element name="try-catch-finally" type="TryCatchFinallyValveType">
        <xsd:annotation>
            <xsd:documentation><![CDATA[
    支持try-catch-finally结构。
            ]]></xsd:documentation>
        </xsd:annotation>
    </xsd:element>

    <xsd:complexType name="TryCatchFinallyValveType">
        <xsd:sequence>
            <xsd:element name="try" type="TryCatchFinallySubPipelineType" minOccurs="0" />
            <xsd:element name="catch" minOccurs="0">
                <xsd:complexType>
                    <xsd:complexContent>
                        <xsd:extension base="TryCatchFinallySubPipelineType">
                            <xsd:attribute name="exceptionName" type="xsd:string" />
                        </xsd:extension>
                    </xsd:complexContent>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="finally" type="TryCatchFinallySubPipelineType" minOccurs="0" />
        </xsd:sequence>
        <xsd:attribute name="label" type="xsd:string" />
    </xsd:complexType>

    <xsd:complexType name="TryCatchFinallySubPipelineType">
        <xsd:sequence>
            <xsd:any namespace="http://www.alibaba.com/schema/services/pipeline/valves"
                     minOccurs="0" maxOccurs="unbounded" />
        </xsd:sequence>
        <xsd:attribute name="pipeline-ref" type="xsd:string" />
    </xsd:complexType>

</xsd:schema>
