service/pull/src/main/resources/META-INF/services/pull.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:beans="http://www.springframework.org/schema/beans"
            xmlns:springext="http://www.alibaba.com/schema/springext/base">

    <xsd:import namespace="http://www.springframework.org/schema/beans"
                schemaLocation="http://localhost:8080/schema/www.springframework.org/schema/beans/spring-beans.xsd" />

    <xsd:import namespace="http://www.alibaba.com/schema/springext/base"
                schemaLocation="http://localhost:8080/schema/www.alibaba.com/schema/springext/springext-base.xsd" />

    <xsd:element name="pull" type="PullServiceType">
        <xsd:annotation>
            <xsd:documentation><![CDATA[
    用来装载可被模板直接引用对象。
            ]]></xsd:documentation>
        </xsd:annotation>
    </xsd:element>

    <xsd:complexType name="PullServiceType">
        <xsd:sequence>
            <xsd:any namespace="http://www.alibaba.com/schema/services/pull/factories" minOccurs="0"
                     maxOccurs="unbounded" />
        </xsd:sequence>
        <xsd:attributeGroup ref="springext:identifiedTypeAttributeSubset" />
        <xsd:attribute name="parentRef" type="xsd:string" />
    </xsd:complexType>

</xsd:schema>
