webx/turbine/src/main/resources/META-INF/services/pull/factories/control-tool.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:beans="http://www.springframework.org/schema/beans"
            xmlns:springext="http://www.alibaba.com/schema/springext/base">

    <xsd:import namespace="http://www.springframework.org/schema/beans"
                schemaLocation="http://localhost:8080/schema/www.springframework.org/schema/beans/spring-beans.xsd" />

    <xsd:import namespace="http://www.alibaba.com/schema/springext/base"
                schemaLocation="http://localhost:8080/schema/www.alibaba.com/schema/springext/springext-base.xsd" />

    <xsd:element name="control-tool" type="ControlPullToolType">
        <xsd:annotation>
            <xsd:documentation><![CDATA[
    定义一个control tool。
            ]]></xsd:documentation>
        </xsd:annotation>
    </xsd:element>

    <xsd:complexType name="ControlPullToolType">
        <xsd:sequence>
            <xsd:element name="errorHandler" type="springext:beanType" minOccurs="0" />
        </xsd:sequence>
        <xsd:attributeGroup ref="springext:identifiedTypeAttributeSubset" />
        <xsd:attribute name="detailLevel">
            <xsd:simpleType>
                <xsd:restriction base="xsd:string">
                    <xsd:enumeration value="quiet" />
                    <xsd:enumeration value="messageOnly" />
                    <xsd:enumeration value="stackTrace" />
                    <xsd:enumeration value="comment" />
                    <xsd:enumeration value="throwException" />
                </xsd:restriction>
            </xsd:simpleType>
        </xsd:attribute>
        <xsd:attribute name="exportAll" type="springext:booleanOrPlaceholder" />
    </xsd:complexType>

</xsd:schema>
