service/form/src/main/resources/META-INF/services/pull/factories/form-tool.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:springext="http://www.alibaba.com/schema/springext/base">

    <xsd:import namespace="http://www.springframework.org/schema/beans"
                schemaLocation="http://localhost:8080/schema/www.springframework.org/schema/beans/spring-beans.xsd" />

    <xsd:import namespace="http://www.alibaba.com/schema/springext/base"
                schemaLocation="http://localhost:8080/schema/www.alibaba.com/schema/springext/springext-base.xsd" />

    <xsd:element name="form-tool" type="FormPullToolType" />

    <xsd:complexType name="FormPullToolType">
        <xsd:attributeGroup ref="springext:identifiedTypeAttributeSubset" />
        <xsd:attribute name="formServiceRef" type="xsd:string" use="optional" />
    </xsd:complexType>

</xsd:schema>
