service/moduleloader/src/main/resources/META-INF/services/module-loader/factories/factories-base.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:beans="http://www.springframework.org/schema/beans"
            xmlns:springext="http://www.alibaba.com/schema/springext/base">

    <xsd:import namespace="http://www.springframework.org/schema/beans"
                schemaLocation="http://localhost:8080/schema/www.springframework.org/schema/beans/spring-beans.xsd" />

    <xsd:import namespace="http://www.alibaba.com/schema/springext/base"
                schemaLocation="http://localhost:8080/schema/www.alibaba.com/schema/springext/springext-base.xsd" />

    <xsd:attributeGroup name="moduleBeanDefaults">
        <xsd:attribute name="defaultLazyInit" type="springext:booleanOrPlaceholder" />
        <xsd:attribute name="defaultAutowireMode">
            <xsd:simpleType>
                <xsd:restriction base="xsd:NMTOKEN">
                    <xsd:enumeration value="no" />
                    <xsd:enumeration value="byName" />
                    <xsd:enumeration value="byType" />
                    <xsd:enumeration value="constructor" />
                    <xsd:enumeration value="autodetect" />
                </xsd:restriction>
            </xsd:simpleType>
        </xsd:attribute>
    </xsd:attributeGroup>

</xsd:schema>
