service/moduleloader/src/main/resources/META-INF/services/module-loader/adapters/action-event-adapter.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:springext="http://www.alibaba.com/schema/springext/base"
            xmlns:beans="http://www.springframework.org/schema/beans">

    <xsd:import namespace="http://www.springframework.org/schema/beans"
                schemaLocation="http://localhost:8080/schema/www.springframework.org/schema/beans/spring-beans.xsd" />

    <xsd:import namespace="http://www.alibaba.com/schema/springext/base"
                schemaLocation="http://localhost:8080/schema/www.alibaba.com/schema/springext/springext-base.xsd" />

    <xsd:element name="action-event-adapter" type="ActionEventAdapterFactoryType">
        <xsd:annotation>
            <xsd:documentation><![CDATA[
    以事件的方式调用action的方法。
    如果submit按钮以eventSubmit_doSomething命名，并且action实现中包含此方法，则调用之。
    支持绑定参数。
            ]]></xsd:documentation>
        </xsd:annotation>
    </xsd:element>

    <xsd:complexType name="ActionEventAdapterFactoryType">
        <xsd:attribute name="dataResolverRef" type="xsd:string" />
    </xsd:complexType>

</xsd:schema>
