service/moduleloader/src/main/resources/META-INF/services/module-loader/adapters/data-binding-adapter.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:springext="http://www.alibaba.com/schema/springext/base"
            xmlns:beans="http://www.springframework.org/schema/beans">

    <xsd:import namespace="http://www.springframework.org/schema/beans"
                schemaLocation="http://localhost:8080/schema/www.springframework.org/schema/beans/spring-beans.xsd" />

    <xsd:import namespace="http://www.alibaba.com/schema/springext/base"
                schemaLocation="http://localhost:8080/schema/www.alibaba.com/schema/springext/springext-base.xsd" />

    <xsd:element name="data-binding-adapter" type="DataBindingAdapterFactoryType">
        <xsd:annotation>
            <xsd:documentation><![CDATA[
    调用execute()方法，不要求实现Module接口。
    支持绑定参数。
            ]]></xsd:documentation>
        </xsd:annotation>
    </xsd:element>

    <xsd:complexType name="DataBindingAdapterFactoryType">
        <xsd:attribute name="dataResolverRef" type="xsd:string" />
    </xsd:complexType>

</xsd:schema>
