service/moduleloader/src/main/resources/META-INF/services/module-loader/adapters/screen-event-adapter.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">

    <xsd:import namespace="http://www.springframework.org/schema/beans"
                schemaLocation="http://localhost:8080/schema/www.springframework.org/schema/beans/spring-beans.xsd" />

    <xsd:import namespace="http://www.alibaba.com/schema/springext/base"
                schemaLocation="http://localhost:8080/schema/www.alibaba.com/schema/springext/springext-base.xsd" />

    <xsd:element name="screen-event-adapter" type="ScreenEventAdapterFactoryType">
        <xsd:annotation>
            <xsd:documentation><![CDATA[
    以事件的方式调用screen的方法。
    如果target为/screenName/eventName，并且screen实现中包含doEventName方法，则调用之。
    支持绑定参数。
            ]]></xsd:documentation>
        </xsd:annotation>
    </xsd:element>

    <xsd:complexType name="ScreenEventAdapterFactoryType">
        <xsd:attribute name="dataResolverRef" type="xsd:string" />
    </xsd:complexType>

</xsd:schema>
