webx/turbine/src/main/resources/META-INF/services/pipeline/valves/analyzeURL.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:beans="http://www.springframework.org/schema/beans"
    xmlns:springext="http://www.alibaba.com/schema/springext/base" elementFormDefault="qualified">

    <xsd:import namespace="http://www.springframework.org/schema/beans"
        schemaLocation="http://localhost:8080/schema/www.springframework.org/schema/beans/spring-beans.xsd" />

    <xsd:import namespace="http://www.alibaba.com/schema/springext/base"
        schemaLocation="http://localhost:8080/schema/www.alibaba.com/schema/springext/springext-base.xsd" />

    <xsd:element name="analyzeURL" type="AnalyzeURLValveType">
        <xsd:annotation>
            <xsd:documentation><![CDATA[
    分析请求的URL,使用mapping转换输入的URL
            ]]></xsd:documentation>
        </xsd:annotation>
    </xsd:element>

    <xsd:complexType name="AnalyzeURLValveType">
        <xsd:attribute name="homepage" type="xsd:string" default="/index" />
    </xsd:complexType>

</xsd:schema>
