webx/turbine/src/main/resources/META-INF/services/pipeline/valves/breakUnlessTargetRedirected.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:beans="http://www.springframework.org/schema/beans"
            xmlns:springext="http://www.alibaba.com/schema/springext/base">

    <xsd:import namespace="http://www.springframework.org/schema/beans"
                schemaLocation="http://localhost:8080/schema/www.springframework.org/schema/beans/spring-beans.xsd" />

    <xsd:import namespace="http://www.alibaba.com/schema/springext/base"
                schemaLocation="http://localhost:8080/schema/www.alibaba.com/schema/springext/springext-base.xsd" />

    <xsd:element name="breakUnlessTargetRedirected">
        <xsd:annotation>
            <xsd:documentation><![CDATA[
    检查Csrf是否正确，如果不正确则终止请求
            ]]></xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="levels" type="xsd:integer" />
            <xsd:attribute name="toLabel" type="xsd:string" />
        </xsd:complexType>
    </xsd:element>

</xsd:schema>
