webx/turbine/src/main/resources/META-INF/services/pipeline/valves/performAction.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:beans="http://www.springframework.org/schema/beans"
    xmlns:springext="http://www.alibaba.com/schema/springext/base" elementFormDefault="qualified">

    <xsd:import namespace="http://www.springframework.org/schema/beans"
        schemaLocation="http://localhost:8080/schema/www.springframework.org/schema/beans/spring-beans.xsd" />

    <xsd:import namespace="http://www.alibaba.com/schema/springext/base"
        schemaLocation="http://localhost:8080/schema/www.alibaba.com/schema/springext/springext-base.xsd" />

    <xsd:element name="performAction" type="PerformActionValveType">
        <xsd:annotation>
            <xsd:documentation><![CDATA[
    根据设定的action参数名，执行相应的action对象
            ]]></xsd:documentation>
        </xsd:annotation>
    </xsd:element>

    <xsd:complexType name="PerformActionValveType">
        <xsd:attribute name="actionParam" type="xsd:string" />
    </xsd:complexType>
</xsd:schema>
