webx/turbine/src/main/resources/META-INF/services/pipeline/valves/setBuffering.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:springext="http://www.alibaba.com/schema/springext/base">

    <xsd:import namespace="http://www.springframework.org/schema/beans"
                schemaLocation="http://localhost:8080/schema/www.springframework.org/schema/beans/spring-beans.xsd" />

    <xsd:import namespace="http://www.alibaba.com/schema/springext/base"
                schemaLocation="http://localhost:8080/schema/www.alibaba.com/schema/springext/springext-base.xsd" />

    <xsd:element name="setBuffering" type="SetBufferingValveType">
        <xsd:annotation>
            <xsd:documentation><![CDATA[
    开关buffering。
            ]]></xsd:documentation>
        </xsd:annotation>
    </xsd:element>

    <xsd:complexType name="SetBufferingValveType">
        <xsd:attribute name="enabled" type="springext:booleanOrPlaceholder" default="true" />
    </xsd:complexType>

</xsd:schema>
